* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./fieldBG.jpeg) no-repeat center center/cover fixed;
  width: 100vw;
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem auto;
  font-size: 3rem;
  color: black;
}

h2 {
  color: black;
}

form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1260px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 475px;
  align-items: center;
  background-color: antiquewhite;
  margin: 0.5rem;
  border-radius: 2rem;
  position: relative;
}

.card .pokemonName {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  border-radius: 0 0 1rem 1rem;
  height: 4rem;
  position: absolute;
  bottom: 0;
  color: white;
}

.pokePic{
  filter: opacity(0.6);
  justify-items: center;
  align-items: center;
  max-width: 400px;
  max-height: calc(400px - 4rem);
}

 .pokePic:hover{
  z-index: 2;
  filter: none;
  min-width: 500px;
  min-height: calc(500px - 4rem);
}
 
.card .types {
  color: black;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.typeBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  visibility: hidden;
  margin: 1rem;
  color: black;
}

.typeBox img {
  width: 40px;
}

.types img {
  width: 40px;
  height: 40px;
}

.bigBox {
  max-width: 1260px;
}

input[type='radio'] {
  display: flex;
  align-items: center;
  visibility: hidden;
  cursor: pointer;
  margin: 1px;
}
.greeting{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: calc(100vh - 30rem);
}
.greeting h2{
  text-align: center;
  font-size: 3rem;
}

label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  color: black;
}

input[type='radio']:checked+label {
  background-color: #ffffff;
  border-radius: 2rem;
}

input[type='text'] {
  display: flex;
  width: 300px;
  font-size: 2rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.radioBtns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.searchBox{
  display: flex;
  flex-direction: row;
  width: 600px;
  align-items: center;
  color: black;
  visibility: hidden;
}


@media (max-width: 600px) {
  .greeting{
    height: calc(100vh - 15rem);
  }
  .greeting h2{
    font-size: 2rem;
  }
  .card {
    width: 325px;
    height: 475px;
  }
  form {
    flex-wrap: wrap;
  }
  .searchBox {
    width: 350px;
  }
  
  .typeBox{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  input[type='text'] {
    width: 200px;
}
.pokePic{
  max-width: 300px;
  max-height: calc(300px - 4rem);
}
.pokePic:hover{
  min-width: 375px;
  min-height: calc(375px - 4rem);
}
}



@media screen and (max-width: 900px) {
  .card {
  flex-wrap: wrap;
}
.typeBox{
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
}

